# Ignore Python cache files
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc

# Ignore git history
.git

# Ignore all log files
*.log

# Ignore all .env files
*.env

# Ignore other non-essential files
.DS_Store
*.swp
*~